@model IEnumerable<Evente.Models.Event>
@foreach (var item in Model)
{
    <div class="event-card">
        <img src="/images/event-default.jpg" alt="@item.Name">
        <div class="event-content">
            <div class="event-header">
                <h3>@item.Name</h3>
                <span class="price">@item.TicketPrice.ToString("C0")</span>
            </div>
            <p>@item.Description</p>
            <div class="event-info">
                <p>@item.Date.ToString("MMMM d, yyyy")</p>
                <p>@item.Location</p>
                <p>Available Seats: @item.AvailableSeats</p>
                <p>Category: @item.Kategori.Name</p>
            </div>
            <a href="#" class="btn-buy-ticket">Buy Ticket</a>
        </div>
    </div>
}